/* Categories lists */
.category-container {
    text-align: center;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-item {
    text-align: center;
    width: 200px; /* Adjust the width based on your design */
    margin: 10px;
    list-style: none;
    transition: transform 0.3s ease-in-out;
}

.category-item:hover {
    transform: scale(1.1);
}

.category-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-icon svg {
    background-color: orange;
    width: 80px; /* Adjust the width and height for larger icons */
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px; /* Adjust the padding for a better visual appearance */
}

.category-name {
    font-size: 16px;
    color: #333;
}
