/* ItemsList.css */

.items-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.items-list-item {
    position: relative; /* Set the position to relative */
    width: 200px; /* Adjust the width based on your design */
    margin: 10px;
    list-style: none;
    transition: transform 0.3s ease-in-out;
    border: 2px solid orange; /* Add an orange border */
    border-radius: 8px; /* Make it less rounded */
    overflow: hidden; /* Hide overflow to ensure the rectangular shape */
}

.items-list-item:hover {
    transform: scale(1.1);
}

.items-list-item a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.items-list-item h2 {
    font-size: 16px; /* Adjust the font size based on your design */
    color: #333;
}

.items-list-item h5 {
    font-size: 14px; /* Adjust the font size based on your design */
    color: #888;
    margin-top: 5px; /* Adjust the margin based on your design */
}

.items-list-item p {
    font-size: 14px; /* Adjust the font size based on your design */
    color: #888;
    margin-top: 5px; /* Adjust the margin based on your design */
}

.items-list-item .like-button {
    position: absolute;
    top: 10px; /* Adjust the top position */
    right: 10px; /* Adjust the right position */
    border: none; /* Remove border */
    background: none; /* Remove background */
    cursor: pointer;
    color: #888; /* Default color */
}

.items-list-item .like-button:focus {
    outline: none; /* Remove outline on focus */
}

.items-list-item .like-button.clicked {
    color: rgb(128, 22, 22); /* Change color to red when clicked */
}
