.login-container body,
.login-container h1,
.login-container h2,
.login-container p,
.login-container input,
.login-container button {
  margin: 0;
  padding: 0;
}

.login-container {
  background-color: #1f41a9;
  background-image: url(../../../src/assets/BG.svg);
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-container .login {
  background-color: #f4f4f4;
  border-radius: 1em;
  padding: 6em 6em;
  width: 30em;
}

.login-container h1 {
  text-align: center;
  color: #333;
}

.login-container .form {
  margin-top: 1em;
}

.login-container label {
  display: block;
  margin-bottom: 0.6em;
  color: #333;
}

.login-container input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.7em;
  border: 0.1em solid #ccc;
  border-radius: 0.2em;
}

.login-container button {
  width: 100%;
  padding: 0.8em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 2em 0em;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container .search-input:focus {
  border: 2px solid #4caf50;
}

.login-container .app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.login-password-btn {
  position: absolute;
  left: 48em;
  top: 19em;
  }

.register-password-btn {
position: absolute;
left: 48em;
top: 28.4em;
}

.error-message {
  color: #f0975d;
}

.PhoneInput {
  margin: 0;
  width: 18em;
}
