/* Home.css */

.search-container {
  display: flex;
  align-items: center;
  padding: 15px;
  /* Increase padding for more height */
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.search-icon {
  margin-right: 15px;
  /* Adjust margin for spacing */
  color: #757575;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 15px;
  /* Increase padding for more height */
  font-size: 18px;
  /* Increase font size */
  border-radius: 8px;
  background-color: transparent;
  color: #333333;
}

/* Optional: Add focus styles */
.search-input:focus {
  border: 2px solid #4caf50;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}